nbproject/private/
build/
dist/
donotinclude/
assets/Models/_originalBlends/
dni_*
FourHills.java
Main_*
Oto.*
assets/Models/*.blend*
*.blend1
*.blend2
*.blend3
*.mesh.xml
*.skeleton.xml
*.j3odata
*.material
*_dni*
colorpickers/*
assets/Models/_originalBlends/
saves/*
*uaj-*
origtexfiles/*
New Text Document.txt
newMaterial.j3m
debug123.png

lwjgl64.dll
OpenAL64.dll
