nbproject/private/
build/
dist/
donotinclude/
assets/Models/_originalBlends/
dni_*
FourHills.java
Main_*
Oto.*
assets/Models/*.blend*
*.blend1
*.mesh.xml
*.skeleton.xml
*.j3odata
*.material
*_dni*
colorpickers/*
assets/Models/_originalBlends/
saves/*

lwjgl64.dll
OpenAL64.dll
